<a routerLink="/menu" class="previous round">&#8249;</a>

<div class="container">
  <div class="form-group form-inline" style=" margin-top: 50px;">
    <label for="klasa">Klasa: </label>
    <select style="margin-left: 20px;" name="klasa" id="klasa">
      <option value="412">412 A</option>
    </select>

    <label style="margin-left: 20px;" for="klasa">Data: </label>
    <input style="margin-left: 20px;" type="date" id="start" name="class-date">
    <button style="margin-left: 20px;">Kerko</button>
  </div>
  <table style="margin-top: 30px;" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
