<a routerLink="/menu" class="previous round">&#8249;</a>

<div class="container">
  <div class="form-group form-inline" style=" margin-top: 50px;">
    <label for="klasa">Klasa: </label>
    <select style="margin-left: 20px;" name="klasa" id="klasa">
      <option value="412">412 A</option>
    </select>

    <label style="margin-left: 20px;" for="klasa">Data: </label>
    <input style="margin-left: 20px;" type="date" id="start" name="class-date">
    <button style="margin-left: 20px;">Kerko</button>
  </div>
  <table style="margin-top: 30px;" class="table">
    <thead>
      <tr>
        <th scope="col">Ora</th>
        <th scope="col">Dega</th>
        <th scope="col">Lenda</th>
        <th scope="col">Viti</th>
        <th scope="col">VitiStudentit</th>
        <th scope="col">Paraleli</th>
        <th scope="col">Pedagog</th>
        <th scope="col">NrStudimeve</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
