<a routerLink="/menu" class="previous round">&#8249;</a>

<div class="container">
  <div class="form-group form-inline" style=" margin-top: 50px;">
    <button style="margin-left: 450px;">Save</button>
    <button style="margin-left: 30px;">Cancel</button>
  </div>
  <table style="table-layout: fixed; width: 210px;">
    <tbody>
        <tr>
            <td><label for="emer">Emer: </label></td>
            <td><input type="text" name="emer" id="emer"/></td>
        </tr>
        <tr>
            <td><label for="mbiemer">Mbiemer: </label></td>
            <td><input type="text" name="mbiemer" id="mbiemer"></td>
        </tr>
        <tr>
            <td><label for="dega">Dega: </label></td>
            <td><select name="dega" id="dega">
                    <option value="412">Master i Shkencave ne "Teknologji Informacioni"</option>
                </select></td>
        </tr>
        <tr>
            <td><label for="vitilenda">VitiLenda: </label></td>
            <td><select name="vitilenda" id="vitilenda">
                    <option value="2">2</option>
                </select></td>
        </tr>
        <tr>
            <td><label for="vitistudent">VitiStudent: </label></td>
            <td><select name="vitistudent" id="vitistudent">
                <option value=""></option>
            </select></td>
        </tr>
        <tr>
            <td><label for="paraleli">Paraleli: </label></td>
            <td><select name="paraleli" id="paraleli">
                <option value=""></option>
            </select></td>
        </tr>
        <tr>
            <td><label for="nrstudent">NrStudent: </label></td>
            <td><input type="text" name="nrstudent" id="nrstudent"></td>
        </tr>
        <!-- <tr>
            <td><input type="checkbox" name="kapur"><label style="margin-left: 5px;" name="kapur">Kapur</label></td>
            <td><input type="checkbox" name="paradiplomim"><label style="margin-left: 1px;" name="paradiplomim">Paradiplomim</label></td>
        </tr> -->
    </tbody>
    </table>
    <div class="form-group form-inline" style=" margin-top: 50px;">
      <input type="checkbox" name="kapur"><label style="margin-left: 5px;" name="kapur">Kapur</label>
      <input style="margin-left: 50px;" type="checkbox" name="kapur"><label style="margin-left: 5px;" name="Paradiplomim">Paradiplomim</label>
    </div>
</div>

