<div class="menu">
  <div class="menu-row">
    <div class="menu-item">Hyr</div>
    <div class="menu-item">Importo Skedarin</div>
    <div routerLink="/class" class="menu-item">Ekzekuto orarin</div>
    <div routerLink="/orariProvimeveStudent" class="menu-item">Rregullo Orarin</div>
  </div>
  <div class="menu-row">
    <div routerLink="/createImportLendet" class="menu-item">Menaxho Klasat</div>
    <div class="menu-item">Menaxho Oret</div>
    <div class="menu-item">Gjenero Disponibel</div>
    <div routerLink="/provimePedagog" class="menu-item">Menaxho Lendet/Pedagoget</div>
  </div>
  <div class="menu-row">
    <div class="menu-item">Sa mire</div>
    <div class="menu-item">Bera qe</div>
    <div class="menu-item">Svazhdova masterin</div>
    <div class="menu-item">..</div>
  </div>
</div>
