<a routerLink="/menu" class="previous round">&#8249;</a>

<div class="container">
  <div class="form-group form-inline">
    <label for="klasa">Dega: </label>
    <select (change)="onChangeDega($event.target.value)" style="margin-left: 20px;" name="klasa" id="klasa">
      <option value="">--</option>
      <option *ngFor="let item of degaSearchData" value="{{item}}">{{item}}</option>
    </select>

    <label style="margin-left: 20px;" for="viti">Viti: </label>
    <select (change)="onChangeViti($event.target.value)" style="margin-left: 10px;" name="viti" id="viti">
      <option value="">--</option>
      <option *ngFor="let item of vitiSearchData" value="{{item}}">{{item}}</option>
    </select>

    <label style="margin-left: 20px;" for="paraleli">Paraleli: </label>
    <select (change)="onChangeParaleli($event.target.value)" style="margin-left: 10px;" name="paraleli" id="paraleli">
      <option value="">--</option>
      <option *ngFor="let item of paraleliSearchData" value="{{item}}">{{item}}</option>
    </select>

    <button (click)="getFilteredData()" style="margin-left: 20px;">Kerko</button>
  </div>
  <table style="margin-top: 30px;" class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Ora</th>
        <th scope="col">Dega</th>
        <th scope="col">Lenda</th>
        <th scope="col">VitiLenda</th>
        <th scope="col">VitiStudent</th>
        <th scope="col">Paraleli</th>
        <th scope="col">Klasa1</th>
        <th scope="col">Klasa2</th>
        <th scope="col">Pedagogu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{row.Dita}}</td>
        <td>{{row.Ora}}</td>
        <td>{{row.Dega}}</td>
        <td>{{row.Lenda}}</td>
        <td>{{row.VitiLenda}}</td>
        <td>{{row.VitiStudent}}</td>
        <td>{{row.Paraleli}}</td>
        <td>{{row.Klasa}}</td>
        <td>{{row.Klasa1}}</td>
        <td>{{row.Pedagogu}}</td>
      </tr>
    </tbody>
  </table>
</div>
