<a routerLink="/menu" class="previous round">&#8249;</a>

<div class="container">
  <div class="form-group form-inline" style=" margin-top: 50px;">
    <label for="klasa">Pedagog: </label>
    <select style="margin-left: 20px;" name="klasa" id="klasa">
      <option value="412">Elson Cibaku</option>
    </select>

    <button style="margin-left: 20px;">Kerko</button>
  </div>
  <table style="margin-top: 30px;" class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Ora</th>
        <th scope="col">Dega</th>
        <th scope="col">Lenda</th>
        <th scope="col">VitiLenda</th>
        <th scope="col">VitiStudent</th>
        <th scope="col">Paraleli</th>
        <th scope="col">Klasa1</th>
        <th scope="col">Klasa2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>
</div>
